@use '../base/variables' as v;
@use '../base/mixins' as m;

/* Body3 unificado con Body y Body2 */
.Body3-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 200px;
  max-width: 1200px;
  margin: 0 auto;
}

.Body3-gallery {
  flex: 1 1 50%; /* Ocupa la mitad del contenedor */
  max-width: 800px; /* No se hace más grande que antes */
}

.Body3-text {
  text-align: center;
  max-width: 800px;
  padding: 2rem;
  h2 {
    margin-bottom: 1.5rem;
  }
  p {
    line-height: 1.6;
  }
}
.Subtitulo {
  color: v.$verde;
  font-weight: 700;
}
