@use '../base/variables' as v;
@use '../base/mixins' as m;

.video {
  position: relative;
  width: 100%;
  height: 100vh; // ocupa toda la pantalla vertical
  overflow: hidden;

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover; // mantiene proporción y rellena
  }

  .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      270deg,
      rgba(v.$granate, 60%),
      rgba(v.$granate, 90%)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
  }

  .contenido-video {
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 2rem;

    .video-titulos {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h2 {
        color: v.$blanco;
        font-size: clamp(3rem, 5vw, 7rem); // adaptable entre 3rem y 7rem
        margin: 0;
      }
      h3 {
        color: v.$beige;
        font-size: clamp(2rem, 4vw, 5rem);
        margin: 0;
      }
    }

    .logo-video {
      max-width: 800px; // tamaño máximo
      width: 20vw; // se adapta al ancho de la pantalla
      height: auto;
    }
  }

  p {
    color: v.$blanco;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    font-weight: 700;
    margin-top: 2rem;
    background-color: rgba(v.$granate, 0.8);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
  }
}
